<!--<pre>{{data | json}}</pre>-->
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Visualisation des alertes</h4>
    <app-table [colTitles]="colTitles" [data]="data.listAlert"></app-table>

    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link">Précédent</a></li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">Suivant</a></li>
      </ul>
    </nav>

  </div>
</div>
