<!--NAVBARS COMPTES-->
<nav *ngIf="nav.visibleCA" class="navbar navbar-expand-md navbar-dark bg-dark" id="su">
  <a class="navbar-brand">Gevelisp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" [routerLinkActive]="['is-active']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/predictions" [routerLinkActive]="['is-active']">Prédictions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/missions" [routerLinkActive]="['is-active']">Missions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/teams" [routerLinkActive]="['is-active']">Equipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/network" [routerLinkActive]="['is-active']">Réseau</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/alerts" [routerLinkActive]="['is-active']">Alertes</a>
      </li>
    </ul>
  </div>
  <app-logged-user></app-logged-user>
</nav>

<nav *ngIf="nav.visibleSU" class="navbar navbar-expand-md navbar-dark bg-dark" id="ca">
  <a class="navbar-brand">Gevelisp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/superUserHome" [routerLinkActive]="['is-active']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/createAccounts" [routerLinkActive]="['is-active']">Création Compte</a>
      </li>
    </ul>
  </div>
  <app-logged-user></app-logged-user>
</nav>

<nav *ngIf="nav.visibleVS" class="navbar navbar-expand-md navbar-dark bg-dark" id="vs">
  <a class="navbar-brand">Gevelisp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/velospotterHome" [routerLinkActive]="['is-active']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/currentMission" [routerLinkActive]="['is-active']">Mission en cours</a>
      </li>
    </ul>
  </div>
  <app-logged-user></app-logged-user>
</nav>
