<!--<pre>{{data | json}}</pre>-->

<h5>Requête de nouvelle mission</h5>

<div class="row">
  <div class="col-12">

    <label>Selection d'un zone spécifique</label>
    <select [(ngModel)]="data.area" class="form-control">
      <option *ngFor="let zone of data.listZone" [value]="zone.value">{{zone.name}}</option>
    </select>

    <div class="form-group">
      <label>Charge initiale</label>
      <input class="form-control" type="number" value="0" min="0" max="10" [(ngModel)]="data.capacity">
    </div>

  </div>
</div>
<div class="text-center">
  <button type="button" class="btn btn-primary">Générer mission</button>
</div>

