<div class="row">
  <div class="col-10">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h3>
              {{data.title}}
            </h3>
          </div>
          <div class="row col-6">
            <label class="h4">{{data.load}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-6">

          </div>
          <div class="col-6">
            <label class="h1">
              {{data.initialQtyBikes}}
              <br>
            </label>
            <img class="img-responsive" src="../assets/Bicycle-bike-clip-art-at-vector-clip-art-free-2-clipartwiz.png" style="height:90px;width:90px">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1">
  </div>
  <div class="col-1">
    <button type="button" class="btn btn-success">O</button>
  </div>
</div>
<br>
