/*a {*/
  /*font-family: Lato,sans-serif;*/
/*}*/

.container {
  margin-top: 10px;
}

.navbar-brand {
  color: aliceblue !important;
}

.is-active {
  color: aliceblue !important;
}

.log {
  color: aliceblue;
}

/*.btn-link {*/
  /*color: #212529 !important;*/
/*}*/
