<table class="table table-hover table-striped table-bordered text-center">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let heading of colTitles" scope="col">
        {{heading}}
      </th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of data">
    <td *ngFor="let col of row">
      <div *ngIf="col.value == null && col.edit == null && col.mission == null && col.okBtn == null && col.select == null">
        {{col}}
      </div>
      <div *ngIf="col.value != null">
        <input class="form-check-input" type="checkbox" [checked]="col.value" (change)="col.value = !col.value">
      </div>
      <div *ngIf="col.edit != null" class="btn-group" role="group">
        <button type="button" class="btn btn-link" routerLink="/editAccount">éditer</button>
        <button type="button" class="btn btn-link" (click)="deleteRecord(row)">supprimer</button>
      </div>
      <div *ngIf="col.mission != null" class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" routerLink=''>attribuer mission</button>
      </div>
      <div *ngIf="col.okBtn != null" class="btn-group" role="group">
        <button type="button" class="btn btn-secondary">OK</button>
      </div>
      <div *ngIf="col.select != null" class="btn-group" role="group">
        <app-combo-dropdown></app-combo-dropdown>
        <!--[data]="dataSelect"-->
      </div>
    </td>
  </tr>
  </tbody>
</table>


